@import "../default/theme";

.capabilities {
    flex-direction: column;

    .content {
        z-index: 1;
        width: calc(100vw - 50%);
        color: $white;
    }

    .listing {
        margin: $spacing 0;
        list-style: none;        
        display: grid;
        gap: $spacing;
        font-weight: 100;
        font-size: $font-size-md;
    }

    @media screen and (max-width: $mobile-lg) {
        .content {
            width: 100%;
        }
    }
}