@import "../default/theme";

.post {
    max-width: 1200px;
    margin: $spacing auto;

    .hero {
        margin-bottom: $spacing;
    }

    .content {        
        color: $white;
        z-index: 1;
    }    
}