@import "../default/theme";

.grid {
    z-index: 2;
    display: grid;
    grid-gap: $spacing;        
    grid-template-columns: repeat(3, auto);
    width: 100%;
    max-width: 1250px;
    margin: $spacing 0;

    &-item {
        background-color: $white;
        min-height: 250px;
        border-radius: 10px;
        transition: all 0.25s ease;
        box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);

        &:hover {
            background-color: $dark-forest-green;
            box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
        }

        &:first-child {
            grid-column: 1 / span 2; 
            grid-row: 1 / span 2
        }

        &:last-child {
            grid-column: 2 / span 2;
        }
    }

    @media screen and (max-width: $tablet-lg) {
        grid-template-columns: repeat(2, auto);
        width: calc(100% - 20px);

        .grid-item {
            grid-column: auto;
            grid-row: auto;
        }
    }

    @media screen and (max-width: $mobile-lg) {
        grid-template-columns: repeat(1, auto);        
    }
}