@import "../default/theme";

nav {
    //background-color: $dark-forest-green;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: sticky;
    top: 0;
    z-index: 10;

    svg {
        width: auto;
    }

    input, .line {
        display: none;
    }

    .navigation-toggle {
        width: calc(100vw / 3);
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;        
        list-style: none;
        padding: 0;
        margin: 0;

        &-logo {
            font-weight: 100;
            font-size: $font-size-mdlg;
            z-index: 10;

            &:hover {
                color: $white;
            }
        }
    }    
}

@media screen and (max-width: $tablet-md) {
    nav {
        svg {
            height: 2rem;
        }

        .navigation-toggle {
            display: block;
            position: relative; 
            z-index: 1;
            width: auto;
            -webkit-user-select: none;
            user-select: none;
    
            input {
                display: block;
                width: 40px;
                height: 32px;
                position: absolute;
                top: -7px;
                left: -5px;                
                cursor: pointer;                
                opacity: 0; /* hide this */
                z-index: 2; /* and place it over the hamburger */                
                -webkit-touch-callout: none;
            }

            .line {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;            
                background: $white;
                border-radius: 3px;            
                z-index: 1;            
                transform-origin: 4px 0px;            
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
    
                &:first-child {
                    transform-origin: 0% 0%;
                }
    
                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }
            }
    
            input {
                &:checked {
                    & ~ .line {
                        opacity: 1;
                        transform: rotate(45deg) translate(-2px, -1px);
                        background: $white;
                    }
    
                    & ~ .line:nth-last-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
    
                    & ~ .line:nth-last-child(2) {
                        transform: rotate(-45deg) translate(0, -1px);
                    }

                    & ~ .navigation {
                        transform: translateX(0);
                    }
                }
            }

            .navigation {
                position: fixed;
                height: 100vh;
                width: 100vw;
                right: 0;                
                top: 0;
                background: $dark-forest-green;                
                -webkit-font-smoothing: antialiased;
                transform-origin: 0% 0%;
                transform: translateX(100%);
                transition: transform 0.33s cubic-bezier(.77, 0, .07, 1);
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: $font-size-md;
                font-weight: 100;

                a {
                    color: $white;
                }
            }
        }
    }    
}