// colors
$white: #ffffff;
$black: #000000;
$font-tan: #EEE8E4;

$background: #F6F5F1;
$dark-blue: #1C2445;

$light-tan: #DACCC3;
$medium-tan: #D5C6BC;
$dark-tan: #cdbbb0;

$light-forest-green: #67706A;
$forest-green: #616A64;
$dark-forest-green: #4e5550;

// fonts & sizing
$font-size-xxl: 80px;
$font-size-xl: 80px;
$font-size-lg: 64px;
$font-size-mdlg: 28px;
$font-size-md: 24px;
$font-size-sm: 18px;
$font-size-xs: 14px;

// padding & margin
$spacing: 25px;

// breakpoints
$tablet-lg: 1024px;
$tablet-md: 820px;
$tablet-sm: 768px;
$mobile-lg: 480px;
$mobile-md: 425px;