<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>About | Ashly Faye Photography</title>        
    </head>
    <body>
        <div class="page about-container" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url('images/Ashly-Kids.JPG')">
            <%- include('../components/navigation') %>
            <main class="about">             
                <div class="hero"                     
                    data-aos="fade-up"
                    data-aos-duration="3000">
                    <!-- <img src="images/Ashly-Enhanced.JPEG" alt="Ashly Faye Anthony" />                     -->
                </div>
                <div class="content"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                     <div>
                        <h1>Ashly Faye</h1>
                        <p class="rich-text">This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
                    </div>
                    <ul class="listing">
                        <li>
                            <div class="flex space-between heading">
                                <div>20 photos</div>
                                <div>$200</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>30 photos</div>
                                <div>$295</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>40 photos</div>
                                <div>$390</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>50 photos</div>
                                <div>$450</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>5 twilight photos</div>
                                <div>$180</div>
                            </div>                            
                        </li>
                    </ul>
                    <div>
                        <em>All photos are professionally edited in adobe photoshop with digital download</em>
                    </div>
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>