<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>About | Matthew Ian</title>        
    </head>
    <body>
        <div class="page about-container">
            <%- include('../components/navigation') %>
            <main class="about">             
                <div class="hero"                     
                    data-aos="fade-up"
                    data-aos-duration="3000">
                    <h1>About Me</h1>
                </div>
                <div class="content"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                     <div>                        
                        <p class="rich-text">Professional web developer with 10+ years of experience designing and implementing enterprise level web applications. Primarily focused in .NET and Sitecore technologies, to deliver end-to-end solutions for a variety of industries.</p>
                    </div>
                    <div>
                        <h2>Experience</h2>
                        <div>
                            <h3>
                                <span>Tech Lead, One North Interactive; Chicago, IL</span>
                                <span>2020 - 2025</span>
                            </h3>
                            <ul>
                                <li>Summarize key responsibilities</li>
                                <li>Summarize key responsibilities</li>
                                <li>Summarize key responsibilities</li>
                                <li>Summarize key responsibilities</li>
                                <li>Summarize key responsibilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>