<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>About | Ashly Faye Photography</title>        
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="about">
                <div class="background-circle" 
                    data-aos="fade-up"
                    data-aos-duration="3000">
                </div>                
                <div class="hero"                     
                    data-aos="fade-up"
                    data-aos-duration="3000">
                    <h1>about ashly</h1>
                    <h2>professional photographer based in las vegas, nv</h2>
                </div>            
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>