<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Blog | Ashly Faye Photography</title>
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="blogs">
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>Featured Posts</h1>
                    <h2>Coming soon!</h2>
                </div>                
                <!-- <div class="grid">
                     <div class="grid-item" data-aos="fade-up" data-aos-duration="3000">
                        <a href="/post">

                        </a>
                     </div>
                     <div class="grid-item" data-aos="fade-up" data-aos-duration="3000"></div>
                     <div class="grid-item" data-aos="fade-up" data-aos-duration="3000"></div>
                     <div class="grid-item" data-aos="fade-up" data-aos-duration="3000"></div>
                     <div class="grid-item" data-aos="fade-up" data-aos-duration="3000"></div>
                     <div class="grid-item" data-aos="fade-up" data-aos-duration="3000"></div>
                </div> -->
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>