<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Pricing | Ashly Faye Photography</title>
    </head>
    <body>
        <div class="page green">
            <%- include('../components/navigation') %>
            <main class="capabilities">
                <div class="background-circle" 
                     data-aos="fade-up"
                     data-aos-duration="3000">
                </div>
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>how can i help</h1>
                    <h2>events, real estate, head shots, & more</h2>
                </div>                
                <div class="content"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <ul class="listing">
                        <li>
                            <div class="flex space-between heading">
                                <div>20 photos</div>
                                <div>$200</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>30 photos</div>
                                <div>$295</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>40 photos</div>
                                <div>$390</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>50 photos</div>
                                <div>$450</div>
                            </div>                            
                        </li>
                        <li>
                            <div class="flex space-between heading">
                                <div>5 twilight photos</div>
                                <div>$180</div>
                            </div>                            
                        </li>
                    </ul>
                    <div>
                        <em>all photos are professionally edited in adobe photoshop with digital download</em>
                    </div>
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>