<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Gallery | Ashly Faye Photography</title>        
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="gallery">
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>spotlight</h1>
                    <h2>coming soon...</h2>
                </div>  
                <div class="grid"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                     <div class="grid-item"></div>
                     <div class="grid-item"></div>
                     <div class="grid-item"></div>
                     <div class="grid-item"></div>
                     <div class="grid-item"></div>
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>