<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Gallery | Ashly Faye Photography</title>        
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="gallery">
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>featured work</h1>                    
                </div>  
                <div class="grid"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <% for(let i = 0; i < 12; i++) { %>
                        <div class="grid-item"></div>
                    <% } %>
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>