<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Ashly Faye Photography</title>
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="home">
                <div class="background-circle" 
                     data-aos="fade-up"
                     data-aos-duration="3000">
                </div>
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>Photography</h1>
                    <h2>That Inspires</h2>
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>