<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Ashly Faye Photography</title>
    </head>
    <body>
        <div class="page home-container" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url('images/Willow-Ground.JPG')">
            <%- include('../components/navigation') %>
            <main class="home">
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>Ashly Faye Anthony</h1>
                    <h2>PHOTOGRAPHY</h2>
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>