<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Matthew Ian</title>
    </head>
    <body>
        <div class="page home-container">
            <%- include('../components/navigation') %>
            <main class="home">
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>Professional Website Development</h1>
                    <img src="images/office-chair.svg" alt="office chair">                
                </div>                
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>