<!DOCTYPE html>
<html>
    <head>        
        <title>Page Not Found | Ashly Faye Photography</title>        
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="not-found">
                <div class="hero">
                    <h1>page not found</h1>
                    <h2></h2>
                </div>            
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>