<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Portfolio | Matthew Ian</title>        
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="portfolio">
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>Portfolio</h1>                    
                </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>