<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head') %>
        <title>Portfolio | Ashly Faye Photography</title>        
    </head>
    <body>
        <div class="page">
            <%- include('../components/navigation') %>
            <main class="portfolio">
                <div class="hero"
                     data-aos="fade-up"
                     data-aos-duration="3000">
                    <h1>Spotlight</h1>                    
                </div>  
                <div class="grid">
                    <div class="grid-item" 
                         data-aos="fade-up" 
                         data-aos-duration="3000"
                         style="background-image: url('images/Girls-Running.JPG')" 
                         role="img">                        
                    </div>
                    <div class="grid-item" 
                         data-aos="fade-up" 
                         data-aos-duration="3000"
                         style="background-image: url('images/Ashly-Kids.JPG')" 
                         role="img">                        
                    </div>

                    <div class="grid-item" 
                         data-aos="fade-up" 
                         data-aos-duration="3000"
                         style="background-image: url('images/Ashly-Enhanced.JPEG')" 
                         role="img">                        
                    </div>
                    <div class="grid-item" 
                         data-aos="fade-up" 
                         data-aos-duration="3000"
                         style="background-image: url('images/Ashly-Willow.JPG'); background-position: right;" 
                         role="img">                        
                     </div>
                     <div class="grid-item" 
                         data-aos="fade-up" 
                         data-aos-duration="3000"
                         style="background-image: url('images/Willow-Ground.JPG')" 
                         role="img">                        
                    </div>
               </div>
            </main>
            <%- include('../components/footer') %>
        </div>
    </body>
</html>