<div class="content-cards">
    <h3 class="content-cards__title">Title Goes Here</h3>
    <div class="content-card">
        <div class="content-card__image">
            <img src="" alt="" aria-label="" />
        </div>
        <div class="content-card__content">
            <h4 class="content-card__title">Card Title</h4>
            <div class="content-card__subtitle">Card Subtitle</div>
            <div class="content-card__text">Content cards can display images, words, and links. Highlighting important work, testimonials, or accolades.</div>
            <div class="content-card__link">
                <a href="/">Read More</a>
            </div>
        </div>
    </div>    
</div>