<nav class="padding" role="navigation">    
     <div class="navigation-logo">
        <a href="/" aria-label="to home page"><span>ashly faye</span></a>
     </div>
    <div class="navigation-toggle">
        <input type="checkbox" aria-label="toggle site navigation">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <ul class="navigation">
            <li>
                <a href="/" aria-label="to home page">home</a>
            </li>
            <li>
                <a href="/gallery" aria-label="to image gallery page">gallery</a>
            </li>
            <li>
                <a href="/pricing" aria-label="to pricing page">pricing</a>
            </li>
            <li>
                <a href="/about" aria-label="to about page">about</a>
            </li>
            <li>
                <a href="/contact" aria-label="to contact page">contact</a>
            </li>       
        </ul>
    </div>
</nav> 